<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{site.title}} - {{#if page.title}}{{page.title}} - {{/if}}{{site.title-info}}</title>
        <meta name="description" content="{{site.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/lib/html5shiv.min.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </head>
    <body>

        <header>

          <div class="navigation">

            <ul class="toggler">
              <li><button>{{site.menu}}</button></li>
              <li class="facebook">Facebook<br>button</li>
            </ul>

            <div class="menu">
              <nav>
                <ul>
                  {{#with site.nav.home}}
                  <li {{#if active}}class="active"{{/if}}><a href="{{link}}">{{label}}</a></li>
                  {{/with}}
                  {{#with site.nav.prices}}
                  <li {{#if active}}class="active"{{/if}}><a href="{{link}}">{{label}}</a></li>
                  {{/with}}
                  {{#with site.nav.contacts}}
                  <li {{#if active}}class="active"{{/if}}><a href="{{link}}">{{label}}</a></li>
                  {{/with}}
                </ul>
              </nav>

              <ul>
                <li><a href="{{page.url}}" {{#if site.langs.lt}}class="active"{{/if}}>Lietuviškai</a></li>
                <li><a href="{{page.url}}en" {{#if site.langs.en}}class="active"{{/if}}>English</a></li>
                <li><a href="{{page.url}}ru" {{#if site.langs.ru}}class="active"{{/if}}>Русский</a></li>
              </ul>
            </div>

          </div>

          <div class="intro">
            <p class="site-title">{{site.title}}</p>
            <p>{{site.intro}}</p>
          </div>

        </header>

        <div id="main">

          {{>body}}

          {{#with site.working-hours}}
          <article>
            <h2>{{title}}</h2>
            <dl>
              <dt>I-V</dt>
              <dd>10.00 - 18.00 ({{break}} 13.00-13.30)</dd>
              <dt>VI</dt>
              <dd>10.00 - 14.00</dd>
              <p>{{after-hours}}</p>
            </dl>
          </article>
          {{/with}}

          <div>
            <h2>{{contacts.title}}</h2>
            <address>
              <p>Venera</p>
              <p>+370 611 08 650</p>
              <p>+370 607 41 385</p>
              <p>Antakalnio g. 84, Vilnius</p>
              <p><a href="mailto:drabuziu.taisykla@gmail.com">drabuziu.taisykla@gmail.com</a></p>
            </address>
            <a href="{{site.nav.contacts.link}}">{{contacts.more}} &raquo;</a>
          </div>

        </div>

        <footer>
          <span>&copy 2010-2014 DrabužiųTaisykla.lt</span>
          <span>{{site.credit}}<a href="http://arcsin.se/" target="_blank">Arcsin</a></span>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/lib/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/main.js"></script>

    </body>
</html>
