---
title: <%= contacts.title %>
code: contacts
description: <%= contacts.description %>
site.nav.home.active: <% site.nav.home.active = false %>
site.nav.prices.active: <% site.nav.prices.active = false %>
site.nav.contacts.active: <% site.nav.contacts.active = true %>
---

{{#with contacts}}

<article>

  <h1>{{heading}}</h1>

  <div class="columns">

    <div class="column">

      <div class="columns">

        <div class="column subcolumn">
          <address>
            <p>+370 611 08 650</p>
            <p>+370 607 41 385</p>
            <p>Antakalnio g. 84, Vilnius</p>
            <p><a href="mailto:drabuziu.taisykla@gmail.com">drabuziu.taisykla@gmail.com</a></p>
          </address>

        </div>
        <div class="column subcolumn">
          <section class="hours">
            <h2>Darbo laikas</h2>
            <table>
              <tr>
                <td class="days">I-V</td>
                <td>10.00 - 18.00<br>({{break}} 13.00-13.30)</td>
              </tr>
              <tr>
                <td class="days">VI</td>
                <td>10.00 - 14.00</td>
              </tr>
            </table>
          </section>
        </div>

      </div>

      <section class="arrange">
        <h3>{{hours.late}}</h3>
        <p>{{hours.arrange}}</p>
      </section>

      <section class="team">
        <h2>{{team}}</h2>
        <div>
          <div class="person">
            <div class="name">
              <span>{{venera.job}} Venera</span>
            </div>
            <img src="img/technologe-konstruktore-venera.jpg" alt="{{venera.job}} Venera" />
          </div>
          <div class="person">
            <div class="name">
              <span>{{vika.job}} Viktorija</span>
            </div>
            <img src="img/siuveja-modeliuotoja-viktorija.jpg" alt="{{vika.job}} Viktorija" />
          </div>
        </div>
      </section>

    </div>

    <div class="column">

      <section class="find">
        <h2>{{find-us}}</h2>
        <iframe id="zemelapis" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Antakalnio+gatv%C4%97+84+Vilnius+10204,+Lithuania&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=14.118794,43.286133&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Antakalnio+gatv%C4%97+84,+Antakalnis,+Vilnius,+Vilniaus+Apskritis+10204,+Lithuania&amp;t=m&amp;ll=54.717581,25.314732&amp;spn=0.019831,0.039911&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <div class="journey">
          <p>{{stop}} Klinikų</p>
          <p>{{trolleybuses}} 2, 4, 14, 19, 21</p>
          <p>{{buses}} 4G, 50</p>
          <p><a href="http://stops.lt/vilnius/#plan/" target="_blank">{{journey-planner}}</a></p>
        </div>
        <h3>{{car}}</h3>
        <p>{{car-info}}</p>
      </section>

    </div>

  </div>


</article>

{{/with}}
